<h2>ID<%= @user.id %>のユーザページ </h2>
<img src=<%= @user.profile_image %> class = "icon_image">
<p>名前 <%= @user.name %></p>
<a href="<%= following_user_path(@user) %>">
  <p><%= "フォロー数: #{@user.follower.count}" %></p>
</a>
<a href="<%= followers_user_path(@user) %>">
  <p><%= "フォロワー数: #{@user.followed.count}" %></p>
</a>

<% if current_user.present? %>
  <% unless @user == current_user %>
    <% if current_user.following?(@user) %>
      <%= link_to 'フォロー解除', unfollow_path(@user.id), method: :POST %>
    <% else %>
      <%= link_to 'フォロー', follow_path(@user.id), method: :POST %>
    <% end %>
  <% end %>
<% end %>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>


<p>自己紹介 <%= @user.self_introduction %></p>
<p>エリア <%= @user.area %></p>
<p>ジャンル <%= @user.genre %></p>
<p>年齢 <%= @user.age %></p>
<p>性別 <%= @user.gender %></p>
<p>芸歴 <%= @user.career %></p>
<p>国籍 <%= @user.country %></p>
<p>所属 <%= @user.organization %></p>

