<p>マイページ</p>
  <p>名前 <%= current_user.name %></p>
  <img src=<%= current_user.profile_image %> class = "icon_image">
  <p>自己紹介 <%= current_user.self_introduction %></p>
  <p>エリア <%= current_user.area %></p>
  <p>ジャンル <%= current_user.genre %></p>
  <p>年齢 <%= current_user.age %></p>
  <p>性別 <%= current_user.gender %></p>
  <p>芸歴 <%= current_user.career %></p>
  <p>国籍 <%= current_user.country %></p>
  <p>所属 <%= current_user.organization %></p>  